runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
final/*.oas
final/librelane/
final/render/
!final/gds/
!final/gds/*.gds
!final/gds/*.json
!final/gds/*.md
.signoff/
img/
*.lyrdb
!final/signoff/*.lyrdb
generated_defines.svh
